{% extends 'base.html' %}

{% block main %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h2>Contact Form</h2>
      <h3>Fill in this form to contact the site owners.</h3>
      <form action ="/contact" method = "post">
          <div>
              {{forms.Name.label}}
              {{forms.Name}}
          </div>
          <div>
              {{forms.email.label}}
              {{forms.email}}
          </div>
          <div>
              {{forms.Subject.label}}
              {{forms.Subject}}
          </div>
          
          <div>
              {{forms.Message.label}}
              {{forms.Message}}
          </div>
          <button>Send</button>

      </form>
  </body>
</html>
{% endblock %}

